@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.switcher span.material-icons {
  color: #777777;
  font-size: 45px;
  cursor: pointer;
}
.list-view {
background-color: #f5f5f5;
}
.list-view img {
  width: 120px;
}
h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}
.card-item img {
  max-width: 100%;
  width: 100%;
}
.card-item {
  background-color: #f5f5f5;
}